extends layout

block content
    #dataModal.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h3.modal-title Your Select Dataset
                .modal-body
                    h3(style="margin-left:auto;margin-right:auto;")#tableName_showDataDetails
                    table#table_showDataDetails(data-toggle='table')
                .modal-footer
                    button.btn.btn-success( type='button', data-dismiss='modal') OK

    #trainingModal.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h3.modal-title Label the training pair question.
                .modal-body
                    h3(style="margin-left:auto;margin-right:auto;") Click Yes or No
                    table#table_labelTrainingPair(data-toggle='table')
                        table.table
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') ID
                                    th(scope='col') Title
                                    th(scope='col') Authors
                                    th(scope='col') Venue
                                    th(scope='col') Year
                            tbody
                                tr
                                    th(scope='row') 1
                                    td 127
                                    td Enterprise search in the big data era: recent developments and open challenges
                                    td Yunyao Li,  Ziyang Liu,  Huaiyu Zhu
                                    td Proceedings of the VLDB Endowment
                                    td 2014
                                tr
                                    th(scope='row') 2
                                    td 7
                                    td
                                        | Fast data in the era of big data: Twitter's real-time related query suggestion architecture
                                    td Gilad Mishne,  Jeff Dalton,  Zhenghua Li,  Aneesh Sharma,  Jimmy Lin
                                    td
                                        | Proceedings of the 2013 ACM SIGMOD International Conference on Management of Data
                                    td 2013
                .modal-footer
                    button.btn.btn-success.answer_question#question_yes(type='button', data-dismiss='modal') YES
                    button.btn.btn-danger.answer_question#question_no(type='button', data-dismiss='modal') NO



    nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.navbar-brand(href='/')
                    b VisClean
            #navbar.navbar-collapse.collapse
                .row
                    .col-md-8.col-md-offset-1.col-sm-8.col-sm-offset-1

                    .col-md-2.col-md-offset-8.col-sm-2.col-sm-offset-8
                        ul.nav.navbar-nav
                            li.dropdown
                                a.dropdown-toggle(id='users' href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    span.glyphicon.glyphicon-user#username
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a#signUpBtn(href='#')
                                            span.glyphicon.glyphicon.glyphicon-pencil  Sign up
                                    li
                                        a#signInBtn(href='#')
                                            span.glyphicon.glyphicon-log-in  Sign in


    .container-fluid
        .row
            .col-sm-2.col-md-2.sidebar
                .panel.panel-default
                    .panel-heading
                        h3.panel-title
                            span.glyphicon.glyphicon-object-align-bottom(aria-hidden='true')
                            |   Dataset

                    .panel-body(style="max-height:40em;overflow-y: scroll;")
                        p Data:
                            button.btn.btn-lg.btn-link(id="dataBtn")
                                span.label.label-primary#selectedTableName
                                    | DBPublications-input_id
                        button.btn.btn-default.btn-block(type='button', id="uploadBtn" aria-label='Left Align')
                            span.glyphicon.glyphicon.glyphicon-upload
                            |   Select Dataset
                        //TODO 每变化一次数据表就自动画图
                        br
                        p #Rows:&nbsp
                          span#rows 46323
                        p #Columns:&nbsp
                          span#ColumnsCnt 6
                        |Columns:
                        ul.list-group#columns
                          each val in columnName
                            +columnItem(val)

        #leftPanel.col-sm-10.col-sm-offset-2.col-md-10.col-md-offset-2(style ="margin-top:15px")
            .panel.panel-default
                .panel-heading
                    strong
                        | Visualization Query Builder
                .panel-body
                    // Table
                    table#tablePreview.table
                        // Table head
                        thead
                            tr
                                th Visualize
                                th X-axis
                                th Y-axis
                                th Transform
                                th Aggregate
                                th SORT
                                th WHERE
                                th LIMIT
                        // Table head
                        // Table body
                        tbody
                            tr
                                td
                                    select.from.form-control
                                        option Bar
                                td
                                    select.from.form-control
                                        option Venue
                                td
                                    select.from.form-control
                                        option Citations
                                td
                                    select.from.form-control
                                        option GROUP BY(Venue)
                                td
                                    select.from.form-control
                                        option SUM
                                td
                                    select.from.form-control
                                        option -- --
                                td
                                    select.from.form-control
                                        option -- --
                                td
                                    select.from.form-control
                                        option -- --
                    p
                        b  Visualization Language:
                        code
                            |   Visualize Bar, SELECT Venue, SUM(Citations) From DBPublications-input_id GROUP BY(Venue).
            .panel.panel-default
                .panel-heading
                    strong
                        | Status
                .panel-body
                    .col-md-12
                        .alert.alert-warning.alert-dismissible#ques_alert(role='alert', style="display:none")
                            button.close(type='button', data-dismiss='alert', aria-label='Close')
                                span(aria-hidden='true') ×
                            strong
                                | Please click the question button to answer the question
                        .alert.alert-warning.alert-dismissible#sent_wait_backend(role='alert', style="display:none")
                            button.close(type='button', data-dismiss='alert', aria-label='Close')
                                span(aria-hidden='true') ×
                            strong
                                | Sent the interaction information to back-end, please wait...
                        button.btn.btn-success#ques_slide_window(style="display:none") Slide Window
                        button.btn.btn-warning#ques_training(style="display:none") Answer Training Question
                        button.btn.btn-primary#ques_consolidation(style="display:none") Consolidation Question


                    //.col-md-6
                    //    table.table.table-bordered
                    //        // Table head
                    //        thead
                    //            tr
                    //                th.info Rule
                    //                th.success Example
                    //        tbody
                    //            tr
                    //                td [string] Conference = [string]
                    //                td SIGMOD Conference = SIGMOD
                    //            tfoot
                    //                tr
                    //                    td(colspan="2").info Do you approve the rule?
                    //
                    //                    td
                    //                        button.btn-success.form-control √
                    //                    td
                    //                        button.btn-danger.form-control X
                    //.col-md-12
                    //    table.table.table-bordered
                    //        // Table head
                    //        thead
                    //            tr
                    //                th(scope='col') ID
                    //                th(scope='col') Title
                    //                th(scope='col') Authors
                    //                th(scope='col') Venue
                    //                th(scope='col') Year
                    //                th(scope='col') Citations
                    //        tbody
                    //            tr
                    //                td 539
                    //                td Descriptive and prescriptive data cleaning
                    //                td A Chalamalla, IF Ilyas, M Ouzzani…
                    //                td SIGMOD '14
                    //                td June 2014
                    //                td N.A.
                    //            tr
                    //                td 1482
                    //                td Descriptive and prescriptive data cleaning
                    //                td Anup Chalamalla, Ihab F. Ilyas, Mourad Ouzzani, Paolo Papotti
                    //                td SIGMOD Conference
                    //                td 2014
                    //                td 42
                    //            tfoot
                    //                tr
                    //                    td(colspan="4").info
                    //                        | Do you approve that the above two rows are the same entity?
                    //
                    //                    td
                    //                        button.btn-success.form-control √
                    //                    td
                    //                        button.btn-danger.form-control X
                    //
                    //.col-md-12
                    //    table.table.table-bordered
                    //        // Table head
                    //        thead
                    //            tr
                    //                th(scope='col') ID
                    //                th(scope='col') Title
                    //                th(scope='col') Authors
                    //                th(scope='col') Venue
                    //                th(scope='col') Year
                    //                th(scope='col').danger Citations
                    //                th(scope='col').success Citations
                    //        tbody
                    //            tr
                    //                td 42
                    //                td Query optimization over crowdsourced data
                    //                td H Park, J Widom
                    //                td PVLDB
                    //                td Aug 2013
                    //                td.danger 4242
                    //                td.success
                    //                    input.form-control(value= 42)
                    //            tr
                    //                td 239
                    //                td Query Optimization over Crowdsourced Data.
                    //                td Hyunjung Park, Jennifer Widom :
                    //                td PVLDB
                    //                td 2013
                    //                td.success 42
                    //                td.success
                    //                    input.form-control(value= 42)
                    //            tr
                    //                td(colspan="7", style="text-align:center")
                    //                    .glyphicon.glyphicon-chevron-down
                    //
                    //            tr
                    //                td 3
                    //                td Detecting Data Errors: Where are we and what needs to be done?
                    //                td Ziawasch Abedjan, Xu Chu, Dong Deng, Raul Castro Fernandez, Ihab F. Ilyas, et al.
                    //                td Proceedings of the VLDB Endowment
                    //                td 2016
                    //                td.danger 4242
                    //                td.success
                    //                    input.form-control(value= 40)
                    //            tfoot
                    //                tr
                    //                    td(colspan="6").info
                    //                        | Do you approve that the imputation of outliers?
                    //
                    //                    td
                    //                        button.btn-success.form-control √
                    //


            .row
                .col-md-7
                    .panel.panel-default
                        .panel-heading
                            strong
                                | Visualization Result
                        .panel-body
                            #main(style='width: 650px;height:450px')
                            //#chart4window(style='width: 400px;height:400px;float:left; margin-left:20px')

                .col-md-5
                    .panel.panel-default
                        .panel-heading
                            strong
                                | Interaction Panel
                        .panel-body
                            #chart4window(style='width: 400px;height:450px')

                            br
                            br

                            table.table.table-bordered#window_table(style='display:none')
                                // Table head
                                thead
                                    tr
                                        th.info Questions
                                        th.success Yes
                                        th.danger No
                                tbody
                                    tr
                                        td
                                            | Do you approve to merge those bars with the same color?

                                        td
                                            button.btn-success.form-control#btn_approve_window √
                                        td
                                            button.btn-danger.form-control#btn_reject_window X


            //#chartsContainer.facetedSearchContainer
            //    .rowChartContainer.row
            //
            //#chartsContainerPage.col-sm-12.col-md-12



